:root {
    --bg-main: 0, 0%, 20%;

    --fc-main: 0, 0%, 100%;
}

body {
    margin: 0;
    background-color: hsl(var(--bg-main));
    color: hsl(var(--fc-main));
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: hsl(var(--fc-main));
    color: hsl(var(--bg-main));
    box-shadow: 1px 1px 10px hsl(var(--fc-main));
}

.nav {
    display: flex;
    gap: 8rem;
}

.nav_link {
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.nav_link::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: hsl(var(--bg-main));
    border-radius: 1rem;
    transition: transform 200ms ease;
    transform: scaleX(0);
    z-index: 3;
}

.nav_link:hover::before {
    transform: scaleX(1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.nav_button {
    padding-inline: 2rem;
    padding-block: 1rem;
    border: 1px solid hsl(var(--bg-main));
    border-radius: 2rem;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}

.nav_button:hover {
    color: hsl(var(--fc-main));
    background-color: hsl(var(--bg-main));
    border: 1px solid hsl(var(--bg-main));
}